html {
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

html, body {
	border: 0 none;
	color: #666;
	font: 14px/22px arial, helvetica, sans-serif;
	font-weight: normal;
	margin: 0;
	outline: 0 none;
	padding: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

::-moz-selection {
    background: #2767c4;
	color: #fff;
    text-shadow: none;
}

::selection {
    background: #2767c4;
	color: #fff;
    text-shadow: none;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

section, article, aside, footer, header, nav {
  display:block;
}

p, ul, ol, h1, h2, h3, h4, table {
	color: inherit;
	font: inherit;
	margin: 0 0 22px 0;
	padding: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #747474;
	margin: 22px 0 21px 0;
	padding: 0;
}

mark {
    background: #2767c4;
    color: #fff;
    padding: 0 3px;
}

address {
	font-style: normal;	
}

abbr[title],
acronym[title],
dfn[title] {
    border-bottom: 1px dotted black;
    cursor: help;
}

/* INLINE IMAGES */
/* full width */
#content .image-image-full{
    margin-right:auto;
    margin-left:auto;
    display:block;
}
/*inline left*/
#content .image-image-inline-left,
#content .image-image-inline-left-retina{
    float:left;
    margin:0 20px 20px 0;
}
/*inline right*/
#content .image-image-inline-right,
#content .image-image-inline-right-retina{
    float:right;
    margin:0 0 20px 20px;    
}

#content h1,#content h2,#content h3,#content h4{
	clear:both;
}

/* --- LISTS --- */
ul {	
	padding-left: 15px;
}

aside ul,
section#content ul {
	list-style: none;
}

aside ul li,
section#content ul li {
	position: relative;
}

aside ul li::before,
section#content ul li::before {
	content: '+';
	color: #e12;
	left: -15px;
	position: absolute;
}

main ul ul {
	margin-bottom: 0;	
}

ol {
	padding-left: 20px;
}

/* --- HEADINGS --- */
h1, h2, h3, h4 {
	color: #000;	
}

h1 {
	font-size: 40px;
	line-height: 48px;
	word-wrap: break-word;
}

h2 {
	font-size: 21px;	
	font-weight: bold;
	margin-top: 0px;
}

	#content h2 {
		margin-top: 48px;
	}

	#content h2:first-child {
		margin-top: 0;
	}


h3 {
	font-size: 18px;	
	font-weight: bold;
	margin-top: 0px;
}



h4 {
	font-weight: bold;
	margin: 0;	
}

/* --- ANCHORS --- */
a,
a:focus,
a:visited {
	color: #07c;
	text-decoration: underline;
}

a:active,
a:hover {
	color: #059;
	text-decoration: underline;	
}

section#footer a,
section#footer a:focus,
section#footer a:visited,
section#bottom a,
section#bottom a:focus,
section#bottom a:visited {
	color: #0077cc;	
}

/* --- BUTTONS --- */
a.button,
a.button:focus,
a.button:visited,
button,
input[type="submit"],
input[type="button"] {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
    box-sizing: border-box;
	background: transparent;
	border: 0 none;
	border-radius: 4px 4px 4px 4px;
	color: #07c;
	display: inline-block;
	padding: 0; /* 12px 20px */
	-webkit-appearance: none;
	font-weight: normal;
}

button,
input[type="submit"],
input[type="button"] {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	cursor: pointer;
	-webkit-appearance: none;
}

a.button:active,
a.button:hover,
button:active,
button:hover,
input[type="submit"]:active,
input[type="submit"]:hover,
input[type="button"]:active,
input[type="button"]:hover {
	background: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-decoration: inherit;
	color: #059;
}

a.button:hover {
	text-decoration: underline;	
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}


.button-special,
.button-special:active,
.button.pdf,
.button.pdf:active {
	background-color: none;
	border: 1px solid #07c !important;
	box-shadow: 0 0 0 0;
	color: #07c !important;
	font-size: 22px;
	line-height: 22px;
	font-weight: bold;
	min-height: 44px;
	padding: 11px 20px !important;
	text-decoration: none;
}

.button-special:hover,
.button.pdf:hover {
	background-color: #07c !important;
	color: #fff !important;
	text-decoration: none !important;
}

.button-banana,
.button-banana:active {
	background-color: #bb1166;
	border: 0 none !important;
	box-shadow: 0 0 0 0;
	color: #fff !important;
	font-size: 22px;
	font-weight: normal;
	line-height: 22px;
	padding: 11px 20px;
	display: inline-block;
}

.button-banana:hover {
	background-color: #07c !important;
	text-decoration: none;
}

/* --- TABLES --- */
table {
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	width: 100%;
}

table thead {
	border-bottom: 1px solid #000;
	text-align: left;
}

table tbody tr:nth-child(even) {
	background: rgba(0,0,0,.1);
}

table td,
table th {
	padding: 12px 0;	
}

table th {
	padding-bottom: 11px;
}

/* --- FORMS --- */
fieldset {
	border: 1px solid #000;
	margin: 0  0 22px 0;
	padding: 11px 9px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
    box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 4px 4px 4px 4px !important;
	display: block;
	height: 44px;
	padding: 0 12px;
	width: 100%;	
	font-size: inherit;
	font-family: inherit;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #07c;
}

textarea {
	margin-top: 0;
	min-height: 99px;
	padding-bottom: 11px;
	padding-top: 11px;
	resize: vertical;
}

label {
	display: block;	
}

.form-item {
	margin: 0 0 22px 0;	
}

.form-required {
	color: #d14;	
}

/* form errors (added by 3s on 25-03-15) */
#conversion .messages.error *{
	display:none;
}
#conversion .messages.error:before{
	display:block;
	color:red;	
}
#block-views-webform-webform-pro .messages.error{
	display: none;
}

body.i18n-nl #conversion .messages.error:before{
	content:"Kijk de rood omlijnde velden na...";
}
body.i18n-fr #conversion .messages.error:before{
	content:"Verifiez les champs en rouge...";
}
body.i18n-en #conversion .messages.error:before{
	content:"Check the fields highlighted in red...";
}

form .form-item .error{
	border:solid 1px red;
}

form .webform-component--check{
	display: none;
}





/* NOTIFY CSS */
.sticky {
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    width:100%;
    background: #87cb32; /* Old browsers */
    background: -moz-linear-gradient(top, #87cb32 0%, #87cb32 100%); /* FF3.6+ */
    -moz-box-shadow: 1px 1px 7px #676767;
    -webkit-box-shadow: 1px 1px 7px #676767;
    box-shadow: 1px 1px 7px #676767;
    height: auto;
    background: #87cb32;
    opacity: .9;
    font-weight: regular;
	color: #fff;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.sticky span{
    margin-bottom:10px;
    padding:0px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:30px;
    padding-top:15px;
    opacity:1;
    line-height:16px;
    color:#FFF;
    font-size:12px;
    display:block;

    width: 960px;
    margin-left: auto;
    margin-right: auto;

}

.sticky span p{
    color:#fff;
    margin-bottom:0px;
}

.sticky span p, .sticky span strong {
    font-size: 14px;
    line-height: 22px;
}

.sticky span strong {
    font-size: 20px;
    line-height: 25px;
    color: #fff;
}

.sticky span a{
    color:#fff;
	text-decoration: underline;
}

.sticky .close{
    position:absolute;
    right:10px;
    bottom:10px;
    display:block;
    width:20px;
    height:20px;
    cursor:pointer;
	color: #fff;
}

.sticky .close:hover {
    text-decoration: none;
}

.hide{
    display:none;
}

.ui-icon-closethick:before, a.close:before {
	content: "x";
	display: inline-block;
	font-size: 21px;
}

/* Colorbox */
#cboxContent .webform-component--outro{
	display: none;
}

#cboxContent form label{
	display: inline-block;
	width:130px;
	float: left;
}
#cboxContent form .webform-component-textfield input,
#cboxContent form .webform-component-email input,
#cboxContent form .webform-component-textarea .form-textarea-wrapper {
	display: inline-block;
	width:310px;
}

#cboxContent .webform-component-markup{
	width:90%;
}

#cboxContent #cboxClose{
	top:0px !important;
}

#cboxContent form .form-actions .ajax-progress-throbber{
display: none !important;
}
#cboxContent .messages.error *{
	display:none;
}



/*#cboxContent .messages.error:before{
	display:block;
	color:red;	
}

body.i18n-nl #cboxContent .messages.error:before{
	content:"Kijk de rood omlijnde velden na...";
}
body.i18n-fr #cboxContent .messages.error:before{
	content:"Verifiez les champs en rouge...";
}
body.i18n-en #cboxContent .messages.error:before{
	content:"Check the fields highlighted in red...";
}

*/

/* --- CLEARFIX --- */
.container:before,
.container:after,
section:before,
section:after,
.breadcrumb ul:before,
.breadcrumb ul:after,
nav:before,
nav:after,
.clearfix:before,
.clearfix:after {
	content: ' ';
	clear: both;
	display: table;
}

/* --- LAYOUT --- */
.container {
	margin: 0 auto;
	width: 960px;
	/* transition: all 0.3s ease 0s; */
}

aside .block {
	border: 1px solid #e9e9e9;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 49px 0;
	padding: 19px 18px; /* 21Px 20px */
	display: block;
	position: relative;
	left: 0;
	top: center;
}

aside .block li {
	text-align: left;
	margin-bottom: 12px;
}


aside .block div.item-list li a.active {
    color: #666;
    text-decoration: none;
}

aside #block-views-core-text-conv-rel{
	text-align:center;
}


/* aside block in conversion region */
aside#conversion{
	margin-top:48px;
	clear:both;
}

aside#conversion .block {
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    margin: 0 0 49px 0;
    padding: 19px 18px;
    display: block;
    position: relative;
    left: 0;
    text-align: center;
}


aside#conversion .block h2 {
	margin-top: 22px;	
}

aside#conversion .block:after {
	display: none;	
} 

/*aside#conversion .block form {
	text-align: left;
}*/


footer .block {
	margin: 0 0 22px 0;
	padding: 0;
	display: block;
	position: relative;
	left: 0;
	top: center;
}

.block > *:first-child {
	margin-top: 0;
}

.block > *:last-child {
	margin-bottom: 0;
}

footer .block h2,
footer .block h3 {
	font-size: 14px;
	font-weight: bold;
}

.col {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 20px; /*was: 0 10px */
    /* transition: all 0.3s ease 0s; */
}

.col.first {
	float: right;
}

.col.s1 {width: 80px;}
.col.s2 {width: 160px;}
.col.s3 {width: 240px;}
.col.s4 {width: 320px;}
.col.s5 {width: 400px;}
.col.s6 {width: 420px;}
.col.s7 {width: 560px;}
.col.s8 {width: 640px;}
.col.s9 {width: 720px;}
.col.s10 {width: 800px;}
.col.s11 {width: 880px;}
.col.s12 {width: 960px;}

body > header {
	
}

/* --- LAYOUT COLLUMNS --- */
.col-block-1,
.col-block-2 {
	margin: 0 -20px;
}

.col-block-1 > h2,
.col-block-2 > h2 {
	margin-left: 20px;
	margin-right: 20px;
}

.col-block-2 {
	float :left;
	margin: 0;
	padding: 0;
	width: calc(50% - 20px);
	/* width: 280px; */
}

.col-block-2:last-child {
	margin-left: 40px;	
}

.col-block-1 .views-row,
.col-block-2 .views-row,
.col-block-1 .view-footer,
.col-block-2 .view-footer {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
    box-sizing: border-box;
	float: left;
	padding: 0 20px;
    transition: all 0.3s ease 0s;
	margin-bottom: 22px;
}

.col-block-2 .views-row {
	padding: 0;	
}

.col-block-1 .views-row > div,
.col-block-2 .views-row > div {
	/* BLOCK STYLNG */
}

 .col-view-1 .views-row {width: 100%;}
 .col-view-2 .views-row {width: 50%;}
 .col-view-3 .views-row {width: 33.3333%;}
 .col-view-4 .views-row {width: 25%;}
 .col-view-5 .views-row {width: 20%;}
 
.col-view-2 .views-row:nth-child(2n+3),
.col-view-3 .views-row:nth-child(3n+4),
.col-view-4 .views-row:nth-child(4n+5),
.col-view-5 .views-row:nth-child(5n+6) {clear:left;}


/*Exceptions */
#block-views-product-product.col-view-3 .views-row:nth-child(3n+4) {clear:none;}
#block-views-product-product.col-view-3 .views-row:nth-child(3n+5) {clear:left;}

@media all and (max-width: 640px) {
	.col-block-1,
	.col-block-2,
	.col-view-1 .views-row,
	.col-view-2 .views-row,
	.col-view-3 .views-row,
	.col-view-4 .views-row,
	.col-view-5 .views-row {width: 100%;}
	
	.col-block-1 .views-row{padding: 0;margin-left:20px;}
	
	.col-block-2:last-child {
		margin-left: 0;	
	}
}

@media all and (min-width: 641px) and (max-width: 960px) {
	
	.col-view-1 .views-row,
	.col-view-5 .views-row {width: 100%;}
	
	.col-view-2 .views-row,
	.col-view-3 .views-row,
	.col-view-4 .views-row {width: 50%;}
}

/* --- HEADER --- */
body > header {	
	
}

body > header .container {
	height: 44px;
}

body > header h2 {
	display: inline-block;
	width: auto;
	height: 77px;
	position: relative;
	z-index: 1;
	margin: -8px 0 33px 0;
}

body > header h2 a {
	display: block;
}

body > header h2 a img {
	border: 0 none;
	width: 210px;
	height: 77px;
}

header > .nav {
	background: #e6e6e6;
	clear: both;
}

/* --- GLOBAL NAVIGATION --- */
body > header nav {
	float: right;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	margin: 0;
	text-transform: uppercase;
}

body > header nav input,
body > header nav label {
    display: none;
}

body > header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body > header nav ul li {
	float: left;	
	margin-left: 28px;
}

body > header nav ul li:first-child {
	margin-left: 0;	
}

body > header nav ul li a,
body > header nav ul li a:focus,
body > header nav ul li a:visited {
	display: block;
	padding: 11px 0 8px 0;
	color: #666;
	position: relative;
	text-decoration: none;
}

body > header nav ul li.active a,
body > header nav ul li.active-trail a,
body > header nav ul li a.active {
	color: #07c;
	border-bottom: 3px solid #07c;
	padding: 11px 0 8px 0;
}

body > header nav ul li a:active,
body > header nav ul li a:hover {
	color: #07c;
	text-decoration: none;
	padding: 11px 0 8px 0;
}

body > header nav ul li a:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 0;
	height: 3px;
	background-color: #07c;
	content: ' ';
	transition: width .2s;
}

body > header nav ul li a:hover:after {
	width: 100%;
}

/* --- TABS --- */
.tabs-wrapper {
	border: 1px solid #e9e9e9;
	border-radius: 10px 10px 10px 10px;
	padding: 0;
}

.tabs-wrapper ul.tabs.primary li {
	margin: 0;	
}

.tabs-wrapper ul.tabs.primary li::before {
	content: '';
	display: none;
}

.tabs-wrapper ul.tabs.primary li a {
    border-right: 1px solid #e9e9e9;
    display: block;
    height: 31px;
    line-height: 31px;
    padding: 0 10px;
}

.tabs-wrapper ul.tabs.primary li a:hover {
	background: #f3f3f3;
}

/* --- MAIN CONTENT --- */
main {
	background: #fff;
	padding: 0 0 22px 0;
}

main > .container {
	 	
}

/* --- HIDE CONTENT --- */
.hidden,
#skipcontent {
	border: 0 none;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
   	width: 1px;
	display: none\9; /* IE7 & IE8 */
	display:none;
}

/* --- BREADCRUMBS --- */
.breadcrumb {
	margin: 22px 0 44px;
}

.breadcrumb ol {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}

.breadcrumb li {
	float: left;
	font-size: 12px;
	text-transform: uppercase;
}

.breadcrumb li:after {
	width: 7px;
	height: 10px;
	display: inline-block;
	content: ">";
	margin: 0 5px;
}

.breadcrumb li:last-child:after {
	content: "";
	display: none;
}

/* --- SECTION - TOP --- */
section#top {
	font-size: 14px;
}

section#top .slogan {
	float: left;
	line-height: 22px;
	margin: 12px 0;
	display: none;
}

section#top .block {
	float: right;	
}

section#top .call-us {
	background: url("../img/gdw_callus.png") no-repeat left / 22px;
	color: #07c;
	font-size: 16px;
	font-weight: bold;	
	line-height: 44px;
	margin-right: 20px;
	padding-left: 33px;
	position: relative;
	top: 55px;
}

section#top .call-us a {
	text-decoration: none;
}

section#top .gdw-certified {
	position: relative;
	top: 55px;
}

.gdw-certified a.button {
	border: 1px solid #07c;
	border-radius: 4px 4px 4px 4px;
	color: #07c;
	display: inline-block;
	font-size: 14px;
	line-height: 22px;
	padding: 10px 19px;
	text-align: center;
	text-decoration: none;
}

.logged-in .gdw-certified a {
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #e9e9e9;
	line-height: 44px;
}

.logged-in .gdw-certified a:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: 0 none;	
}

.nav .gdw-certified {
	margin: 33px auto 0;
	text-align: center;	
}

.nav .gdw-certified a {
	text-transform: none;	
}

.gdw-certified a.button:hover {
	color: #fff;
	cursor: pointer;
	background: #07c;
	background: -moz-linear-gradient(top,  #00aadd 0%, #0077cc 100%);
	background: -webkit-linear-gradient(top,  #00aadd 0%,#0077cc 100%);
	background: linear-gradient(to bottom,  #00aadd 0%,#0077cc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aadd', endColorstr='#0077cc',GradientType=0 );
	border-color: transparent;
	text-decoration: none;
}

section#top .block .nav {
	font-size: 12px;
	text-transform: uppercase;
	margin: 0;
}

section#top .block .nav li {
	list-style: none;
	line-height: 36px;
	float: left;	
	margin-left: 1px;
}

section#top .block .nav li:first-child {
	margin-left: 0;	
}

section#top .block .nav li a {
	color: #666;	
	background: #eeeff2;
	display: block;
	line-height: 22px;
	padding: 12px 20px;
}

section#top .block .nav li.active a, section#top .block .nav li.active-trail a,
section#top .block .nav li a.active, section#top .block .nav li a.active-trail,
section#top .block .nav li a:active,
section#top .block .nav li a:hover {
	color: #1c2c5a;
	text-decoration: none;
	background: #e5e6ea;
}

/* --- SECTION - CONTENT --- */
section#content {
	margin-bottom: 22px;
}

body.front section#content {
	background: none;
	border: 0 none;
	padding: 0;	
}

section#content img {
	border-radius: 10px 10px 10px 10px;
    height: auto;
    max-width: 100%;
}

/* --- SECTION - FOOTER --- */
section#footer {
	background: #f3f3f3;
	padding: 0 0 48px 0;
}

section#footer .col.s4:last-child {
	float: right;
	text-align: left;
}
section#footer .container {

	padding-top: 48px;
}

section#footer ul {
	padding-left: 0;	
}

section#footer ul li {
	list-style: none;
	margin-bottom: 12px;
}

section#footer .block-footer_2-certificate_footer .views-row {
	float: left;
	margin-right: 10px;
	max-width: 50%;
}

section#footer .block-footer_2-certificate_footer .views-row.views-row-3 {
	clear: left;
}

.cm_subscribe::after {
    clear: both;
    content: "";
    display: table;
}

.cm_subscribe h2 {
	margin-bottom: 11px;	
}

section#footer #footer_socialmedia::after {
	clear: both;	
	content: "";
	display: table;
}

section#footer #footer_socialmedia li {
	float: left;
	margin-right: 10px;	
	margin-bottom:0px;
}

section#footer #footer_socialmedia li:last-child {
	margin-right: 0;
}

section#footer #footer_socialmedia li a {
	display: block;
	width: 22px;
	height: 22px;	
}

section#footer #footer_socialmedia li a.twitter {
	background: url("../img/gdw_social_twitter.png") no-repeat;
	background-size: 22px;
}

section#footer #footer_socialmedia li a.linkedin {
	background: url("../img/gdw_social_linkedin.png") no-repeat;
	background-size: 22px;
}

section#footer #footer_socialmedia li a.facebook {
	background: url("../img/gdw_social_facebook.png") no-repeat;
	background-size: 22px;
}

section#footer #footer_socialmedia li a span {
	display: none;
}

section#footer .block-menu-block ul li a {
	color: #000;
	display: block;
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 11px; /* 32px - line-height(22px) */
	border-bottom: 1px solid #ddd;
	text-decoration: none;
}

section#footer .block-menu-block ul li a:hover {
	color: #07c;
	text-decoration: none;	
}

section#footer ul ul {
	padding-left: 15px;
	margin-bottom: 12px;
}

section#footer ul ul li {
	list-style-image: url("../img/arrow.png");
	margin-bottom: 0;
}

section#footer ul ul li a {
	font-size: 15px;
}


section#footer address, section#footer .telephone{
	margin-top: 12px;
	display: inline-block;
}


section#footer .block-teamviewer a {
	
	background: url("../img/gdw_teamviewer.png") no-repeat center center / 129px !important;
	margin: 0 !important;
	padding: 0 !important;
	display: block !important;
	width: 129px !important;
	height: 22px !important;
}

section#footer ul.socialmedia-icons{
	float: left;
	margin: 12px 0 12px 0;
}
section#footer ul.socialmedia-icons li{
	margin-bottom: 0px;
}
section#footer div.subscribe-button-inner {
	float: left;
	margin: 12px 0 12px 0;
	clear:both;
}

section#footer .block-footer_2-block a:first-child,
section#footer .ipv {
	background: url("../img/gdw_logo_ipv.png") no-repeat;
	display: inline-block;
	height: 45px;
	margin: 10px 10px 10px 0;
	text-indent: -999em;
	width: 73px;
}

section#footer .qfor {
	background: url("../img/gdw_logo_qfor.png") no-repeat;
	display: inline-block;
	height: 45px;
	margin: 10px 10px 10px 0;
	text-indent: -999em;
	width: 36px;
}

section#footer .kp {
	background: url("../img/gdw_logo_kmo.png") no-repeat;
	display: block;
	height: 45px;
	margin: 0 0 10px 0;
	text-indent: -999em;
	width: 166px;
}

section#footer #block-locale-language {
	clear: both;
	overflow: hidden;
	margin-bottom: 0;
}

section#footer .language-switcher-locale-url {
	
}

section#footer .language-switcher-locale-url li {
	float: left;
}

section#footer .language-switcher-locale-url li::after {
	content: '/';
	margin: 0 5px;
}

section#footer .language-switcher-locale-url li:last-child::after {
	content: '';	
	margin: 0;
}

section#footer .language-switcher-locale-url li a.active {
	color: #666;	
}

section#footer .language-switcher-locale-url li a.active:hover {
	text-decoration: none;	
}

section#footer #block-views-company-company-bottom,
section#footer #block-views-company-company-bottom p {
	margin-bottom: 0;	
}

/* --- SECTION - BOTTOM --- */
section#bottom {
	background: #e6e6e6;
	min-height: 48px;
}

section#bottom::before {
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	background: #0077cc;
	background: -moz-linear-gradient(left,  #0077cc 25%, #ee1122 75%);
	background: -webkit-linear-gradient(left,  #0077cc 25%,#ee1122 75%);
	background: linear-gradient(to right,  #0077cc 25%,#ee1122 75%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0077cc', endColorstr='#ee1122',GradientType=1 );	
}

section#bottom .container {	
	background: url("../img/gdw_expect_the_unexpected.png") no-repeat 660px center / 200px;
	height: 66px;
}

section#bottom p {
	text-align: left;
}

section#bottom .block.block-bottom-company_bottom {
	float: left;	
}

section#bottom .block.socialmedia {
	float: right;
}

/* --- ARTICLE --- */
article {
	
}

article header,
article#content header,
section#content header {
	
}

article footer,
article#content footer,
section#content footer {
	
}

section#content article {
	/*
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
    box-sizing: border-box;
	border: 1px solid #000;
	padding: 21px 19px;
	*/
	margin-bottom: 21px;	
}

.submitted {
	color: #999;
	font-size: 11px;
	font-style: normal;
	margin: -12px 0 6px 0;
	display: inline-block;
	text-transform: uppercase;
}

.block .submitted {
	
}

.block-related img {
	max-width: 100%;	
}

.block-related .item-list li,
.block-filter .item-list li {
	list-style: none;	
	position: relative;
}

.block-related .item-list li::before,
.block-filter .item-list li::before {
	content: '+';
	color: #e12;
	left: -15px;
	position: absolute;
}

/* HOME PAGE */
body.front h1 {
	font-size:26px;
	font-weight: light;
	line-height: 39px;
	display: none;
}

body.front section#content {
	margin-bottom: 22px;
	text-align: center;
}

body.front section#content .container {
}

body.front section#content section {
	margin-top: 77px;
}

body.front section#content section article {
	max-width: 620px;
	margin: 0 auto;
	word-wrap: break-word;
}

body.front section#content section article p {
	font-size: 24px;
	line-height: 33px;	
}

body.front section#content section article a {
	word-wrap: normal;	
}

body.front .node-frontpage .button-special,
body.front .node-frontpage .button-special:active {
	background-color: #bb1166;
	border: 0 none !important;
	box-shadow: 0 0 0 0;
	color: #fff !important;
	font-size: 22px;
	font-weight: normal;
	min-height: 48px;
	padding-top: 12px;
	padding-bottom: 12px;
}

body.front .node-frontpage .button-special:hover {
	background-color: #c59 !important;
	text-decoration: none;
}

body.front #promoted .views-row {
	text-align: center;
	margin-bottom: 44px;
}

body.front #promoted .views-row-first {
	background: url("../img/gdw_front_bedrijven.png") no-repeat top;
	background-size: 440px;
}

body.front #promoted .views-row-last {
	background: url("../img/gdw_front_particulieren.png") no-repeat top;
	background-size: 440px;
}

body.front #promoted .views-row a {
	color: #000;
	display: block;
	fonts-size: 16px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;	
	padding-top: 192px;
}

body.front #promoted .views-row a:hover {
	color: #07c;	
}

body.front .block-promoted_2-views {
	padding-top: 22px;
	position: relative;
	margin-bottom: 22px !important;
	text-align: center;	
}

/*body.front .block-promoted_2-views .views-row {
	float: left;
	width: 220px;	
	margin-right: 20px;
	box-sizing: border-box;
}

body.front .block-promoted_2-views .views-row:last-child {
	margin-right: 0;	
}*/

body.front #promoted_2 .col.s12 {
    padding: 0 10px;
}

body.front .block-promoted_2-views .views-row h2 {
	padding-top: 100px;
	text-align: center;	
}

/*body.front .block-promoted_2-views .views-row:nth-child(1) h2,*/
body.front .block-promoted_2-views .views-row.inbraakdetectie h2,
body.front .block-promoted_2-views .views-row.detection-deffraction h2,
body.front .block-promoted_2-views .views-row.intrusion-detection h2 {
	background: url("../img/gdw_front_inbraakdetectie.png")	no-repeat top / 100px;
}

/*body.front .block-promoted_2-views .views-row:nth-child(2) h2,*/
body.front .block-promoted_2-views .views-row.brand-gasdetectie h2,
body.front .block-promoted_2-views .views-row.detection-incendie-gaz h2,
body.front .block-promoted_2-views .views-row.fire-gas-detection h2 {
	background: url("../img/gdw_front_brandgasdetectie.png")	no-repeat top / 100px;
}

/*body.front .block-promoted_2-views .views-row:nth-child(3) h2,*/
body.front .block-promoted_2-views .views-row.camerabewaking h2,
body.front .block-promoted_2-views .views-row.camera-surveillance h2,
body.front .block-promoted_2-views .views-row.surveillance-camera h2 {
	background: url("../img/gdw_front_camerabewaking.png")	no-repeat top / 100px;
}

/*body.front .block-promoted_2-views .views-row:nth-child(4) h2,*/
body.front .block-promoted_2-views .views-row.toegangscontrole h2,
body.front .block-promoted_2-views .views-row.controle-dacces h2,
body.front .block-promoted_2-views .views-row.access-control h2 {
	background: url("../img/gdw_front_toegangscontrole.png")	no-repeat top / 100px;
}

body.front .block-promoted_2-views .views-row,
body.front .block-promoted_2-views .views-row:hover,
body.front .block-promoted_2-views .views-row *,
body.front .block-promoted_2-views .views-row:hover * {
	cursor: pointer;	
}

body.front .block-promoted_2-views .views-row:hover a {
	text-decoration: underline;
}

body.front .block-promoted_2-views .views-row:hover h2 {
	color: #07c;	
}

body.front .col-block-1,
body.front .col-block-2 {
	margin: 0 -10px;
}

body.front .col-block-1 .views-row,
body.front .col-block-2 .views-row {
	padding: 0 20px;	
	margin: 0;
}

body.front .block-promoted_2-views,
body.front .col-block-1 .views-row-last:after,
body.front .col-block-2 .views-row-last:after {
	content: ' ';
	display: table;
	clear: both;
}

body.front .col-block-1 .views-row > div,
body.front .col-block-2 .views-row > div {
	text-align: center;
	padding: 11px 20px;
	cursor: pointer;
	background: #f3f3f3;
	border-radius: 10px 10px 10px 10px;
	/*min-height: 298px; */
	margin-bottom: 22px;
}


#block-views-offer-offer-1 .views-row > div .field-name-body,
#block-views-offer-offer .views-row > div .field-name-body {
	min-height: 99px;
}

:lang(fr) #block-views-offer-offer-1 .views-row h2,
:lang(fr) #block-views-offer-offer .views-row h2,
:lang(en) #block-views-offer-offer-1 .views-row h2,
:lang(en) #block-views-offer-offer .views-row h2{
	min-height: 44px;
}


body.front main h2 {
	font-size: 17px;
	font-weight: bold;
}

body.front main section.promoted_2 {
	background: #fafafa;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	padding: 21px 0 0 0;	
	margin-bottom: 72px;
	margin-top: 22px;
}

body.front main section.promoted_2 h2,
body.front main section.promoted_2 .field-name-body,
body.front main section.promoted_2 .center-text {
	text-align: center;
}

body.front main section.promoted_2 .button {
	background: #58c;
	color: #fff;
	font-size: 19px;
	padding: 0 20px;
	line-height: 36px;
}

body.front main section.promoted_2 .button:hover {
	background: #2767c4;
	text-decoration: none;
}

body.front main section.promoted_3 .block {
	margin: 0 10px;	
}

body.front main section.promoted_3 .block h2 {
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 21px;
}

body.front .block-promoted_3 h2::after {
    background: #000;
    content: "";
    display: block;
    height: 1px;
    margin: 22px auto 0;
    width: 22px;
}

body.front .block h3 {
	margin-top: 0;
}

body.front main .block-views-event_pro .views-row {
	clear: both;
	margin-bottom: 22px;
	min-height: 72px;
}

body.front main .block-views-event_pro .views-row h3 {
	margin-top: 0;
	margin-bottom: 5px;
}

body.front main .block-views-event_pro .views-row .date-wrapper {
	float: left;
	background: #fafafa;
	border-right: 1px solid #d9d9d9;
	height: 63px;
	width: 49px;
}

	body.front main .block-views-event_pro .views-row .date-wrapper .date-day {
		font-size: 21px;
		display: block;
		text-align: center;
		margin-top: 10px;
	}
	
	body.front main .block-views-event_pro .views-row .date-wrapper .date-month {
		font-size: 11px;
		text-align: center;
		display: block;
		text-transform: uppercase;
	}

body.front main .name-wrapper {
	float: left;
	margin-left: 10px;
	margin-bottom: 22px;
	width: 230px;
}

body.front section#promoted .block-promoted-views-webform_pro {
	border: 1px solid #d5d5d5;
	padding: 21px 19px;
	margin-bottom: 22px;
}

	body.front section#promoted .block-promoted-views-webform_pro:after {
		clear: both;
		display: table;
		content: ' ';	
	}

body.front section#promoted .block-promoted-views-webform_pro .webform-confirmation {
	text-align: center;
}

body.front section#promoted .block-promoted-views-webform_pro .webform-confirmation > p {
	margin: 36px 0;
}

body.front section#promoted .block-promoted-views-webform_pro .webform-component--intro {
	width: 240px;
	float: left;	
	margin: 0 22px 0 168px;
}

	body.front section#promoted .block-promoted-views-webform_pro .webform-component--intro p {
		max-width: 240px;
		text-align: center;	
	}
	
	body.front section#promoted .block-promoted-views-webform_pro .webform-component--intro p.signature {
		margin-bottom: 0;
	}
	
	body.front section#promoted .block-promoted-views-webform_pro .webform-component--intro p.signature:before {
		border-top: 1px solid #07c;
		display: block;
		content: ' ';
		width: 60px;
		height: 0;
		margin: 0 auto;
		position: relative;
		top: -12px;
	}

body.front section#promoted .block-promoted-views-webform_pro .webform-component--email {
	width: 310px;
	float: left;	
	margin-right: 22px;
	margin-top: 22px;
}

body.front section#promoted .block-promoted-views-webform_pro .form-actions {
	float: left;	
	margin-top: 22px;
}

body.front .block-promoted_3 {
	background: #f3f3f3; /*#f9f9f9;*/
	border-radius: 10px 10px 10px 10px;
	padding: 44px 10px 22px;
	text-align: center;
	margin-bottom: 22px;
	min-height: 264px;	
}

body.front .block-promoted_3 ul {
	text-align: left;	
	overflow: hidden;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

body.front .block-promoted_3 ul li {
	float: left;
	width: 198px; /* 220 - 22 */
	list-style: none;
	background: url("../img/gdw_bullet.png") no-repeat left / 12px;
	padding-left: 22px;
}

body.front .block-promoted_3-dealer_section_pro {
	background: #f3f3f3; /* url("../img/gdw_front_certified.png") no-repeat center / cover; */
	min-height: 264px;	
	color: #000;
	font-size: 16px;
}

body.front .block-promoted_3-dealer_section_pro .field p {
	background: url("../img/gdw_front_certified_logo.png") no-repeat center 13px / 108px;
	padding-top: 77px;
}

body.front .block-promoted_3-dealer_section_pro span.suffix {
	margin-top: 11px;
	padding-top: 11px;
}

body.front .block-promoted_3-dealer_section_pro span.suffix::before {
	content: '';
	width: 22px;	
	height: 1px;
	background: #000;
	display: block;
	margin: 11px auto;
}

body.front .block-promoted_3-dealer_section_pro .button {
	background: #07c;
	color: #fff;
	text-decoration: underline;
	border-radius: 4px 4px 4px 4px;
	padding: 11px 20px;
	font-size: 14px;	
}

body.front .block-promoted_3-dealer_section_pro .button:hover {
	background: #059;	
}

/* OVERVIEW PAGE */
/*body.node-type-company-section main section#content .views-row,*/
body.node-type-offer-section main section#content .views-row {
	margin-bottom: 0;
}

body.node-type-company-section main section#content .views-row:last-child,
body.node-type-offer-section main section#content .views-row:last-child,
body.node-type-company-section main section#content .views-row-last,
body.node-type-offer-section main section#content .views-row-last {
	border-bottom: 0 none;
	margin-bottom: 0;
}

body.node-type-company-section main section#content .views-row {
	margin-bottom: 
}

body.node-type-offer-section main section#content .views-row > div {
	cursor: pointer;
	padding: 100px 20px 11px 20px;
	text-align: center;
	border-radius: 10px 10px 10px 10px;
	min-height: 198px;
	margin-bottom: 22px;
}

body.node-type-offer-section #block-system-main > .field-type-text-with-summary,
body.node-type-offer-section-2 #block-system-main > .field-type-text-with-summary  {
	max-width: 600px;	
}

body.node-type-offer-section-2 main section#content .views-row > div {
	padding-top: 0;	
	margin-top: 44px;
}

body.node-type-offer-section main section#content .views-row h2 {
	font-size: 17px;	
}

body.node-type-offer-section main section#content .views-row:hover h2 {
	color: #07c;
}

body.node-type-offer-section main section#content .views-row.inbraakdetectie > div,
body.node-type-offer-section main section#content .views-row.detection-deffraction > div,
body.node-type-offer-section main section#content .views-row.intrusion-detection > div {
	background: #f3f3f3 url("../img/gdw_front_inbraakdetectie.png")	no-repeat top / 100px;
}

body.node-type-offer-section main section#content .views-row.brand-gasdetectie > div,
body.node-type-offer-section main section#content .views-row.detection-incendie-gaz > div,
body.node-type-offer-section main section#content .views-row.fire-gas-detection > div {
	background: #f3f3f3 url("../img/gdw_front_brandgasdetectie.png")	no-repeat top / 100px;
}

body.node-type-offer-section main section#content .views-row.camerabewaking > div,
body.node-type-offer-section main section#content .views-row.camera-surveillance > div,
body.node-type-offer-section main section#content .views-row.surveillance-camera > div {
	background: #f3f3f3 url("../img/gdw_front_camerabewaking.png")	no-repeat top / 100px;
}

body.node-type-offer-section main section#content .views-row.toegangscontrole > div,
body.node-type-offer-section main section#content .views-row.controle-dacces > div,
body.node-type-offer-section main section#content .views-row.access-control > div {
	background: #f3f3f3 url("../img/gdw_front_toegangscontrole.png")	no-repeat top / 100px;
}

body.node-type-company-section main section#content .button,
body.node-type-offer-section main section#content .button {
	background: none;
	color: #07c;
	border: 0 none;
	font-size: 15px;
	display: inline;
	line-height: 22px;	
	padding: 0;
}

body.node-type-company-section main .button:hover,
body.node-type-offer-section main .button:hover {
	background: none;
	color: #237;	
}

body.node-type-company-section main .button:active,
body.node-type-offer-section main .button:active {
	color: #2767c4;
}

body.node-type-offer-section main section#content #exclusive,
body.node-type-offer-section main section#content #executive,
body.node-type-offer-section main section#content #essentials {
	background-size: 120px 90px;
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 140px;	
	width: 65%;
}

body.node-type-offer-section main section#content #exclusive {
	background-image: url("../img/gdw_tc_exclusive.png");
}

body.node-type-offer-section main section#content #executive {
	background-image: url("../img/gdw_tc_executive.png");
}

body.node-type-offer-section main section#content #essentials {
	background-image: url("../img/gdw_tc_essentials.png");
}


/* SERVICES PAGE */
body.node-type-offer-section.page-node-26 main section#content,
body.node-type-job-section main section#content,
body.node-type-company-section main section#content{
	border: 0 none;
	background: none;
	margin-bottom: 0;
	padding: 0;	
}

body.node-type-offer-section.page-node-26 main section#content #block-system-main,
body.node-type-job-section main section#content #block-system-main,
body.node-type-company-section main section#content #block-system-main{
	/*border: 1px solid #e5e5e5;
	background: #fff;
	padding: 21px 19px 0 19px;
	margin-bottom: 22px;	*/
}

body.node-type-offer-section.page-node-26 main section#content .block-views-offer .views-row,
body.node-type-job-section .block-views-job .views-row,
body.node-type-company-section main section#content .block-views .views-row{
	/* border: 1px solid #e5e5e5;
	background: #fff;
	padding: 0 19px 0 19px;
	margin-bottom: 22px; */
}

body.node-type-offer-section.page-node-26 main section#content .block-views-offer .views-row h2,
body.node-type-job-section .block-views-job .views-row h2,
body.node-type-company-section main section#content .block-views .views-row h2 {
	/*background: #e5e6ea;
	line-height: 48px;
	font-weight: normal;
	font-size: 28px;
	padding: 12px 20px;
	margin: 0 -19px 22px -19px; */
}

/* TAALCOACH PAGE */
body.page-node-4 .block-content-text_suf_content {
    background: none repeat scroll 0 0 #f6f6f6;
    border-top: 1px solid #e5e5e5;
    margin: 0 -20px -72px;
    padding: 22px 0 12px;
}

body.page-node-4 .block-content-text_suf_content > div {
    background: #fff;
    border: 1px solid #e5e5e5;
    display: block;
    left: 0;
    margin: 0 0 49px !important;
    padding: 19px 18px;
    position: relative;
	text-align: center;
}

body.page-node-4 .block-content-text_suf_content > div:after {
    display: none;
}

body.page-node-4 .block-content-text_suf_content > div h2 {
	margin-top: 36px;	
}

body.page-node-4 .block-content-text_suf_content > div h2:after {
	content: ' ';
	display: block;
	width: 60px;
	height: 1px;
	background: #b16;
	position: relative;
	top: 11px;
	margin: 0 auto;
}

/* BEVEILIGING PAGE */
body.node-type-offer .block-related {
	text-align: center;
}

.block-related a.button, aside#conversion a.button,
body.node-type-offer #block-views-product-product .view-footer a.button {
	background: #07c;
	background: -moz-linear-gradient(top,  #00aadd 0%, #0077cc 100%);
	background: -webkit-linear-gradient(top,  #00aadd 0%,#0077cc 100%);
	background: linear-gradient(to bottom,  #00aadd 0%,#0077cc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aadd', endColorstr='#0077cc',GradientType=0 );
	color: #fff;
	display: inline-block;
	padding: 11px 44px;
	text-decoration: none;	
}

.block-related a.button:hover, aside#conversion a.button:hover,
body.node-type-offer #block-views-product-product .view-footer a.button:hover {
	background: #07c;
	background: -moz-linear-gradient(top,  #0077cc 0%, #00aadd 100%);
	background: -webkit-linear-gradient(top,  #0077cc 0%,#00aadd 100%);
	background: linear-gradient(to bottom,  #0077cc 0%,#00aadd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0077cc', endColorstr='#00aadd',GradientType=0 );
}

body.node-type-offer #block-views-product-product .view-footer {
	border: 1px solid #e9e9e9;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 20px;
    padding: 43px 20px 21px;
    text-align: center;
    width: calc(33.3333% - 40px);
}

/* TIPS PAGE */
body.node-type-news-section #block-views-news-news {
	margin-top: 44px;	
}

body.node-type-news-section #block-views-news-news .views-row {
	margin-bottom: 44px;
	padding-bottom: 21px;
	border-bottom: 1px solid #e9e9e9;
}

body.node-type-news-section #block-views-news-news .views-row.views-row-last {
	border-bottom: 0 none;
	padding-bottom: 0;	
}

/* CUSTOMER PAGE */
body.node-type-customer-section #block-views-customer-customer li {
	list-style: none;
	background: url("../img/gdw_bullet.png") no-repeat left / 12px;
	padding-left: 22px;
}

body.node-type-customer-section #block-views-customer-customer li::before {
	content: '';
	display: none;	
}


/* PRODUCT PAGE */

body.node-type-offer .node-product img {
	max-width: 100%;
	border-radius: 10px 10px 10px 10px;
	height: auto;
}

/* DEALERS PAGE */
body.node-type-dealer-section #block-views-exp-dealer-dealer {
	margin-bottom: 44px;	
}

body.node-type-dealer-section #block-views-exp-dealer-dealer label {
	float: left;
	font-weight: bold;
	margin-right: 10px;
}

body.node-type-dealer-section #block-views-exp-dealer-dealer .form-submit {
	background: #07c;
	color: #fff;
	text-decoration: none;
	padding: 5px 22px 6px;	
	
	display: none;
}

body.node-type-dealer-section #block-views-exp-dealer-dealer .form-submit:hover {
	background-color: #059;
}

body.node-type-dealer-section #block-views-dealer-dealer  .views-row {
	margin-bottom: 44px;
	padding-bottom: 43px;
	border-bottom: 1px solid #e9e9e9;
	overflow: hidden;
}

body.node-type-dealer-section #block-views-dealer-dealer .views-row.views-row-last {
	border-bottom: 0 none;
	padding-bottom: 0;	
}

body.node-type-dealer-section #block-views-dealer-dealer .views-row .views-field.views-field-field-dealer-logo {
	float: right;	
	margin-right: 20px;
}

/* DEALERS DETAIL PAGE */

body.node-type-dealer .gmap-gmap {
	margin-top: 22px;	
}

body.node-type-dealer .field-name-field-dealer-logo {
	float: right;
	margin-left: 20px;
	margin-bottom: 22px;	
}

/* REFERENTIES OVERVIEW PAGE */
body.node-type-case-section .view-case .views-row {
	margin-bottom: 44px;
	padding-bottom: 21px;
	border-bottom: 1px solid #e9e9e9;
}

body.node-type-case-section .views-row-case-1 {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #e9e9e9;
	border-radius: 10px 10px 10px 10px;
    margin-top: 44px;
    padding: 44px 20px;
}

body.node-type-case-section .view-case .views-row .node-case {
	clear: both;	
}

body.node-type-case-section .view-case .views-row .node-case::after{
	content: '';
	display: table;
	clear: both;	
}

body.node-type-case-section .view-case .views-row .node-case > div {
	float: left;	
	width: 60%;
}

body.node-type-case-section .view-case .views-row .node-case > div.field-name-field-case-image {
	width: 35%;	
	margin-right: 5%;
}

body.node-type-case-section .view-case .views-row .node-case > div.field-name-field-case-image img {
	border-radius: 10px 10px 10px 10px;
}

body.node-type-case-section .view-case .field-items::after {
	content: '';
	display: table;
	clear: both;	
}

body.node-type-case-section .view-case .field-name-field-related-offer-1 .field-items .field-item {
	float: left;
	margin-right: 0px;
	margin-bottom: 22px;
	margin-top:0px;
	padding:0px;
}

body.node-type-case-section .view-case .field-items .field-item:last-child {
	margin-right: 0;
}

body.node-type-case-section .view-case .field-items .field-item a {
	display: block;
	font-size: 12px;
	letter-spacing: -.5pt;
	padding-top: 50px;
	text-align: center;
}

body.node-type-case-section .inbraakdetectie,
body.node-type-case-section .detection-deffraction,
body.node-type-case-section .intrusion-detection {
	background: url("../img/gdw_front_inbraakdetectie.png")	no-repeat top / 50px;
}

body.node-type-case-section .brand-gasdetectie,
body.node-type-case-section .detection-incendie-gaz,
body.node-type-case-section .fire-gas-detection {
	background: url("../img/gdw_front_brandgasdetectie.png")	no-repeat top / 50px;
}

body.node-type-case-section .camerabewaking,
body.node-type-case-section .camera-surveillance,
body.node-type-case-section .surveillance-camera {
	background: url("../img/gdw_front_camerabewaking.png")	no-repeat top / 50px;
}

body.node-type-case-section .toegangscontrole,
body.node-type-case-section .controle-dacces,
body.node-type-case-section .access-control {
	background: url("../img/gdw_front_toegangscontrole.png")	no-repeat top / 50px;
}

#block-views-customer-customer-rel .view-footer{
	margin-top:24px;
}




/* REFERENTIES DETAIL PAGE / TIPS DETAIL PAGE */

.field-name-field-related-offer-1 .field-item{
	float: left;
	width: 25%;
	text-align: center;
	padding-top: 44px;
	padding-bottom:44px;
	margin-top: 22px;
}

.field-name-field-related-offer-1 .field-item a{
	padding-top: 55px;	
}

.node-offer.snippet a.inbraakdetectie,
.node-offer.snippet a.detection-deffraction,
.node-offer.snippet a.intrusion-detection {
	background: url("../img/gdw_front_inbraakdetectie.png") no-repeat top / 50px;
}

.node-offer.snippet a.brand-gasdetectie,
.node-offer.snippet a.detection-incendie-gaz,
.node-offer.snippet a.fire-gas-detection {
	background: url("../img/gdw_front_brandgasdetectie.png") no-repeat top / 50px;
}

.node-offer.snippet a.camerabewaking,
.node-offer.snippet a.camera-surveillance,
.node-offer.snippet a.surveillance-camera {
	background: url("../img/gdw_front_camerabewaking.png") no-repeat top / 50px;
}

.node-offer.snippet a.toegangscontrole,
.node-offer.snippet a.controle-dacces,
.node-offer.snippet a.access-control {
	background: url("../img/gdw_front_toegangscontrole.png") no-repeat top / 50px;
}


/* TESTIMONIALS OVERVIEW PAGE */
body.node-type-testimonial-section .block-views-testimonial .views-row {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 47px;
	padding-bottom: 48px;
}

body.node-type-testimonial-section .block-views-testimonial .views-row-last {
	border-bottom: 0 none;
	margin-bottom: 0;
	padding-bottom: 22px;
}

	body.node-type-testimonial-section .block-views-testimonial .views-row:after {
		content: ' ';
		display: table;
		clear: both;
	}

body.node-type-testimonial-section .block-views-testimonial .images {
	float: left;
	width: 35%;
	margin-right: 5%;
}

body.node-type-testimonial-section .block-views-testimonial .text {
	float: left;
	width: 60%;
	word-wrap: break-word;
}

body.node-type-testimonial-section .block-views-testimonial .center-text {
	margin-bottom: 0;	
}

div.gd_infinite_scroll-ajax-loader{
    display: block;
    margin: 0 auto 10px auto;
    min-width: 210px;
    text-align: center;	
}


/* TESTIMONIALS DETAIL PAGE */
body.node-type-testimonial .customerquote {
	margin-bottom: 22px;	
}

body.node-type-testimonial .customerquote:after {
	content: ' ';
	display: table;
	clear: both;	
}

body.node-type-testimonial p {
	clear: none !important;	
}

body.node-type-testimonial .field-name-field-logo {
	float: right;
}

body.node-type-testimonial .field-name-field-logo img {
	max-width: none;
}

body.node-type-testimonial .customerquote .field-name-field-picture {
	width: 35%;
	float: left;
	margin-right: 5%;
	text-align: center;
}

body.node-type-testimonial .customerquote .text {
	width: 60%;
	float: left;	
}

body.node-type-testimonial .customerquote .field-name-field-quote {
	font-size: 28px;
	color: #000;
	line-height: 42px;
	word-spacing: -5px;
}

body.node-type-testimonial .customerquote .field-name-field-quote .field-item:before,
body.node-type-testimonial .customerquote .field-name-field-quote .field-item:after {
    color: #1c2c5a;
    content: open-quote;
    display: inline-block;
    font-size: 32px;
    font-weight: normal;
    padding: 0 5px 0 0;
    transform: translateY(0px);
}

body.node-type-testimonial .customerquote .field-name-field-quote .field-item::after {
    content: close-quote;
    padding: 0 0 0 5px;
    transform: translateY(20px);
}

body.node-type-testimonial .customerquote .field-name-field-name {
	padding-top: 12px;
}

body.node-type-testimonial .customerquote .field-name-field-name:before {
	content: ' ';
	display: block;
	width: 60px;
	height: 1px;
	background: #b16;
	margin: 0 0 11px 0;
}

/* JOBS / VACATURE PAGE */
body.node-type-job-section .block-views-job {
	margin-top: 44px;	
}

body.node-type-job-section .block-views-job .views-row {
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 44px;
	padding-bottom: 22px;
}

body.node-type-job-section .block-views-job .views-row-last {
	margin-bottom: 0;
	border-bottom: 0 none;	
}

body.node-type-job-section #block-views-core-text-suf-content {
	border: 1px solid #e9e9e9;
	border-radius: 10px 10px 10px 10px;
	padding: 43px 21px 21px 21px;	
	margin-bottom: 44px;
	text-align: center;
}

/* BEDRIJF - CERTIFICAAT PAGE */
body.node-type-certificate-section #block-views-certifiicate-certificate .views-row {
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 44px;
	padding-bottom: 0;
}

body.node-type-certificate-section #block-views-certifiicate-certificate .views-row-last {
	margin-bottom: 0;
	border-bottom: 0 none;	
}

body.node-type-certificate-section .views-row article::after {
	content: ' ';
	clear: both;
	display: table;
}

body.node-type-certifcate-section .views-row article {
	
}

body.node-type-certificate-section .views-row article .field.field-name-body,
body.node-type-certificate-section .views-row article .field.field-name-field-url,
body.node-type-certificate-section .views-row article h2 {
    margin-left: calc(25% + 20px);
}

body.node-type-certificate-section .views-row article .field.field-name-field-picture {
	float: left;
	margin-right: 20px;
	width: 25%;
	margin-top: -44px;
}

/* PARTNERS PAGE */
#block-views-partner-partner .views-row {
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 44px;
	padding-bottom: 0;
}

#block-views-partner-partner .views-row-last {
	margin-bottom: 0;
	border-bottom: 0 none;	
}

#block-views-partner-partner .views-row .field.field-name-body,
#block-views-partner-partner .views-row .field-name-field-url,
#block-views-partner-partner .views-row .center-text,
#block-views-partner-partner .views-row h2 {
    margin-left: calc(25% + 20px);
}

#block-views-partner-partner .views-row .field.field-name-field-picture {
	float: left;
	margin-right: 20px;
	width: 25%;
	margin-top: -44px;
}

/* TEAM MEMEBER PAGE */
body.node-type-member-section .block-views-member .views-row {
	text-align: center;	
	width:100%;

}

body.node-type-member-section .block-views-member .views-row article{
	border:solid 1px #e5e5e5;	
}

body.node-type-member-section .block-views-member .views-row article .wrapper-left{
	float:left;	
	width:50%;
	padding-top:70px;
	

}
body.node-type-member-section .block-views-member .views-row article .wrapper-right{
	float:left;
	width:50%;
	/*border-left:solid 1px #e5e5e5;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

body.node-type-member-section .block-views-member .views-row article div img{
	display: block;
}




body.node-type-member-section .field-name-field-job-title {
	font-size: 21px;
	margin: 12px 0 22px;
}

body.node-type-member-section .field-name-field-job-title:after {
	content: ' ';
	display: block;
	width: 60px;
	height: 1px;
	background: #b16;
	position: relative;
	top: 11px;
	margin: 0 auto;
}

body.node-type-member-section .field-name-body {
	font-size: 14px;
	color: #999;	
	margin-top: 12px;
}

body.node-type-member-section .node-member {
	margin-bottom: 22px;	
}

body.node-type-member-section .node-member h2 {
	margin-bottom: 6px;
	text-align: center;
}


body.node-type-member-section #block-views-member-member .node-member h2{
	padding: 0 10px 0 10px;	
}


body.node-type-member-section #block-views-member-member-alt{
	clear:both;
}

/* CONTACT PAGE */

body.node-type-contact-section main > .container {
	background-image: none;	
}

body.node-type-contact-section aside .block {
	background: none !important;
	border: 0 none !important;
	border-radius: 0 0 0 0 !important;
	box-shadow: none !important;
	float: left !important;
	padding: 0 !important;
	text-align: left !important;
	width: calc(50% - 20px) !important;
	margin-right: 40px !important;
}


body.node-type-contact-section aside .block:after {
	display: none !important;	
}

body.node-type-contact-section aside .block:last-child {
	margin-right: 0 !important;	
}

body.node-type-contact-section aside .block h2{
	display: none !important;
}


body.node-type-contact-section aside .block h2::after{
	margin: 10px 0 0 0 !important;	
}

body.node-type-contact-section .field-name-field-google-maps,
body.node-type-contact-section .gmap {
	margin-top: 44px !important;	
}

body.node-type-contact-section .field-name-field-google-maps iframe {
	width: 100% !important;	
}

body.node-type-contact-section p.phone{
	margin:22px 0 0 0;
}

/* MENTIONS PAGE */
body.node-type-mention-section section#content .nav  {
	padding: 0 0 48px 0;
	margin-bottom: 22px;
}

body.node-type-mention-section section#content .nav li {
	list-style: none;
	padding: 0;
	float: left;
	margin-right: 20px;
}

body.node-type-mention-section section#content article {
	margin-bottom:  48px;
	padding-bottom: 21px;
	border-bottom: 1px solid #e5e5e5;	
}

body.node-type-mention-section section#content .views-row-last article {
	padding-bottom: 0;
	border-bottom: 0 none;
	margin-bottom: 22px;
}

/* EVENTS (added 010615) */
/* event overview */
body.node-type-event-section .block-views-event{

}
/* PAGE - Agenda */
body.node-type-event-section .block-views-event .views-row {
	clear: both;	
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 47px;
	padding-bottom: 48px;
}

body.node-type-event-section .block-views-event .views-row-last {
	border-bottom: 0 none;
	margin-bottom: 0;
	padding-bottom: 22px;
}

body.node-type-event-section .block-views-event .views-row:last-child,
body.node-type-event-section .block-views-event .views-row-last {
	padding-bottom: 0;
	border: 0 none;	
}

body.node-type-event-section .block-views-event .views-row:after {
	content: ' ';
	display: table;
	clear: both;	
}

body.node-type-event-section .block-views-event .date-wrapper {
	background: #e5e6ea;
 	border: 1px solid #d5d5d5;
  	display: block;
	width: 120px;
	text-align:center;
	padding: 20px 0;
	float: left;
	margin-right: 20px;
	margin-bottom: 22px;
	position: relative;
}

body.node-type-event-section .block-views-event .date-wrapper:after {
	content: ' ';
	display: block;
	width: 27px;
	height: 25px;
	background: url("../img/block-arrow.png") no-repeat;
	position: absolute;
	bottom: -25px;
	right: 27px;
}

body.node-type-event-section .block-views-event .date-wrapper .date-day {
	display: block;	
	font-size: 32px;
	line-height: 32px;
	color: #000;
}

body.node-type-event-section .block-views-event .date-wrapper .date-month {
	display: block;
	font-size: 22px;
	color: #000;
	margin-bottom: 6px;
	text-transform: uppercase;
}

body.node-type-event-section .block-views-event .date-wrapper .date-end-wrapper  .prefix {
	display: block;
	font-size: 12px;
	color: #000;
}

body.node-type-event-section .block-views-event .date-wrapper .date-end-wrapper .date-day {
	font-size: 16px;
	line-height: 22px;
	display: inline;
}
	
body.node-type-event-section .block-views-event .date-wrapper .date-end-wrapper .date-month {
	font-size: 16px;
	display: inline;
	margin-left: 3px;
}

body.node-type-event-section .block-views-event .info-wrapper {
	float: left;
	width: 70%;
}

body.node-type-event-section .block-views-event .info-wrapper h2 {
	margin-bottom: 12px;
}
body.node-type-event-section .block-views-event .info-wrapper address {
	  margin: 0 0 22px 0;
}

body.node-type-event-section .block-views-event .center-text {
	margin-bottom: 0;	
}


/* event detail */
body.node-type-event article.node-event{

}
body.node-type-event article.node-event address{
  margin: 0 0 22px 0;
}



/* 404 PAGE */
body.node-type-systempage main {
	padding-bottom: 0;
}

body.node-type-systempage main > .container {
	background-image: url("../img/gdw_404.png");
	padding-bottom: 22px;
}

/* --- BREAK - MOBILE ALL --- */
@media all and (max-width: 640px) {
	.container {
		width: 100%;
	}
	
	.col.s1,
	.col.s2,
	.col.s3,
	.col.s4,
	.col.s5,
	.col.s6,
	.col.s7,
	.col.s8,
	.col.s9,
	.col.s10,
	.col.s11,
	.col.s12 {
		width: 100%;
		padding: 0 20px;	
	}
	
	section.breadcrumb {
		display: none;	
	}
	
	body.front section#content {
		background: none;	
	}
	
	section#footer .col.s4:last-child {
		float: left;
		text-align: left;
	}
	
	section#bottom p {
		text-align: left;	
	}
	
	body.node-type-contact-section aside .block {
		width: 100%;
		margin-right: 0;	
	}
	
	body.front section#content article {
		max-width: 100% !important;
		text-align: center;
	}
	
	body.node-type-mention-section section#content .nav {
		padding-left: 15px;	
	}
	
	body.node-type-mention-section section#content .nav li {
		float: none;
		list-style: disc;
	}
	
	section#top .slogan {
		width: 100%;
		text-align: center;
		float: none;	
		font-size: 12px;
	}
	
	body > header nav ul {	
	}
	
	body.front h1 {
		font-size: 30px;	
		text-align: center;
	}
	
	body.front h1::after {
		margin: 10px auto 0 auto;	
	}
	
	body > header nav {	
		margin: 0;
	}
	
	body.front section#content {
		min-height: auto;
	}
	
	body.front main .name-wrapper {
		width: 200px;
	}
	
	/*body > header nav {
		width: calc(100% - 40px) !important;
	}*/
	
	body.front section#promoted .block-promoted-views-webform_pro .webform-component--email {
		float: none !important;	
		margin-right: 0 !important;
		width: 100% !important;
	}

	body.front section#promoted .block-promoted-views-webform_pro .form-actions {
		float: none !important;
	}
	
	body.node-type-offer-section main section#content #exclusive,
	body.node-type-offer-section main section#content #executive,
	body.node-type-offer-section main section#content #essentials {
		padding-right: 0;
		padding-top: 122px;
		background-position: center top;	
		width: 100%;
	}
	
	body.node-type-testimonial-section .block-views-testimonial .images,
	body.node-type-testimonial-section .block-views-testimonial .text,
	body.node-type-testimonial .customerquote .field-name-field-picture,
	body.node-type-testimonial .customerquote .text {
		float: none;
		width: 100%;
		margin-right: 0;
	}
	
	body.node-type-testimonial .customerquote .text {
		text-align: center;
		margin-top: 12px;
		margin-bottom: 12px;
	}
	
	body.node-type-testimonial .customerquote .field-name-field-name:before {
		margin-left: auto;
		margin-right: auto;	
	}

	section#footer ul.socialmedia-icons{
		float: left;
	}
	section#footer div.subscribe-button-inner{
		float: left;
	}


	body.node-type-member-section .block-views-member .views-row article .wrapper-left{
		float:none;	
		width:100%;
		padding-top:30px;
		

	}
	body.node-type-member-section .block-views-member .views-row article .wrapper-right{
		float:none;
		width:100%;
		/*border-top:solid 1px #e5e5e5;*/
		/*border-left:0px;*/
		text-align: center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;	
	}

	body.node-type-member-section .block-views-member .views-row article .wrapper-right img{
		width: 320px;
		margin-left: auto;
		margin-right: auto;
	}	


	#block-views-member-member-alt .field-name-field-picture{
		text-align: center;
	}

	section#top .call-us {
		background: #07c url("../img/gdw_callus_mobile.png") no-repeat left / 44px;
		border-radius: 4px 4px 4px 4px;
		display: block;
		font-size: 0;
		width: 44px;
		height: 44px;	
		margin-right: 0;
		padding: 0;
		z-index: 2;
	}
	
	section#top .call-us::after {
		content: ' ';
		display: inline-block;
		font-size: 10px;
		text-transform: uppercase;
		margin-left: -1px;
		margin-top: -4px;
	}
	
	:lang(nl) section#top .call-us::after {content: 'Bel ons';}
	:lang(en) section#top .call-us::after {content: 'Call us';}
	
	section#top .call-us a {
		display: block;
		font-size: 0;
		width: 100%;	
	}
	
	body.node-type-case-section .view-case .views-row .node-case > div {
		float: none;	
		width: 100%;
	}

	body.node-type-case-section .view-case .views-row .node-case > div.field-name-field-case-image {
		width: 100%;	
		margin-right: 0;
		margin-bottom: 22px;
	}
	
	body.node-type-case-section .view-case .views-row .node-case > div.field-name-field-case-image img {
		width: 100% !important;	
	}

	body.node-type-special-page .field-name-field-related-offer-1 .field-item,	
	body.node-type-case .field-name-field-related-offer-1 .field-item,
	body.node-type-news .field-name-field-related-offer-1 .field-item {
		width: 100%;	
		margin-bottom: 22px;
	}

	
	body.node-type-contact-section aside .block {
		float: none !important;
		width: 100% !important;	
	}
	
	body.node-type-dealer-section #block-views-dealer-dealer .views-row .views-field.views-field-field-dealer-logo {
		float: none;
		margin: 11px 0;	
	}
	
	body.node-type-offer #block-views-product-product .view-footer {
		width: 100% !important;	
	}
	
	#block-views-company-company-section-2 .views-row.views-row-1.views-row-odd.views-row-first {
		margin-top: 44px;	
	}
	
	section#footer #footer_socialmedia li a {
		width: 33px;
		height: 33px;	
	}

	section#footer #footer_socialmedia li a.twitter,
	section#footer #footer_socialmedia li a.linkedin,
	section#footer #footer_socialmedia li a.facebook {
		background-size: 33px;
	}
	
	body.node-type-dealer .field-name-field-dealer-logo {
		float: none;
		margin-left: 0;
	}
	
}

/* --- BREAK - MOBILE --- */
@media all and (max-width: 320px) {
	.container {
		width: 320px;
	}
	
	.col.s1,
	.col.s2,
	.col.s3,
	.col.s4,
	.col.s5,
	.col.s6,
	.col.s7,
	.col.s8,
	.col.s9,
	.col.s10,
	.col.s11,
	.col.s12 {
		width: 320px;
		padding: 0 20px;	
	}
	
	section.breadcrumb {
		display: none;	
	}	
	
	body.front section#content section article {
		margin: 0 auto !important;
	}
	
	body.front #promoted .views-row {
		width: 280px;	
		background-size: 280px;
	}
	
	body.front #promoted .views-row a {
		padding-top: 132px;	
	}

	/* custom override */
	#content h1{
		font-size:28px;
		line-height: 33px;
	}


}

/* --- BREAK - MOBILE & PHABLET --- */
@media all and (max-width: 641px){
	section#content img {
	    height: auto !important;
	    margin-left:auto !important;
	    margin-right:auto !important;    
	    max-width: 100%;
	    float:none !important;
	    display: block;

	}
    section#content img.image-image-inline-full-retina,
    section#content img.image-image-inline-left-retina,
    section#content img.image-image-inline-right-retina{
    	width:auto !important;
    }

	body.front .col-block-1,
	body.front .col-block-2 {
		margin: 0;
	}

	body.front #promoted_2 .col.s12 {
	    padding: 0;
	}



	body.node-type-case-section .field-name-field-related-offer-1 .field-item{
		width:50%;
	}



}






/* --- BREAK - TABLET --- */
@media all and (min-width: 641px) and (max-width: 960px) {
	.container {
		width: 640px;
	}
	 
	.col.s12,
	.col.s6 {
		width: 640px;
	}
	
	.col.s3 {
		width: 320px;
	}
	
	aside.col.s4,
	footer section.col.s4 {
		width: 640px !important;	
	}
	
	aside.col.s4 ul,
	footer section.col.s4 ul {
		/*-webkit-columns: 2;*/
		/*-moz-columns: 2;*/
		/*columns: 2;*/
	}
	
	section#top .block.block-top-contact_header {
		position: absolute;
		right: 20px;	
	}
	
	body.front section#content {
		background-position: center top;
		padding: 48px 0 22px 0;	
	}
	
	body.front #promoted .views-row-first,
	body.front #promoted .views-row-last {
		background-size: 280px;	
	}
	
	body.front #promoted .views-row a {
		padding-top: 132px;	
	}
	
	body.front section.promoted_3 .container > .col:nth-child(3) {
		clear: both;
		width: 100%;
	}
	
	body.front section#promoted_3 .s4 {
		width: 640px !important;
	}
	
	body.front main .block-views-event_pro .views-row {
		width: 50%;
		clear: none;
		float: left;	
	}
	
	body.front main .block-views-event_pro .views-row-odd {
		clear: both;	
	}
	
	body > header nav {
		margin: 0;	
	}
	
	/*body.front .col-block-1 .views-row:nth-child(4n+3),
	body.front .col-block-2 .views-row:nth-child(4n+3),
	body.front .col-block-1 .views-row-last,
	body.front .col-block-2 .views-row-last {
		clear: left;
	}*/
	
	body.node-type-special-page .field-name-field-related-offer-1 .field-item,
	body.node-type-case .field-name-field-related-offer-1 .field-item,
	body.node-type-news .field-name-field-related-iffer-1 .field-item {
		width: 50%;	
	}
}

/* --- BREAK - MOBILE & TABLET --- */
@media all and (max-width: 960px) {		
	header > .nav {
		overflow: hidden;
	}
	
	.shadow {
		box-shadow: 0 5px 5px rgba(0,0,0,.25);
		margin-bottom: 44px;
	}

	body > header nav label {
		display: inline-block;
		background: #e6e6e6;
		font-family: arial, sans-serif;
		font-weight: normal;
		height: 44px;
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
		color: #666;
		font-size: 32px;
		text-align: center;
		line-height: 44px;
		margin-bottom: 1px;
		text-align: left;
		-moz-osx-font-smoothing: auto;
		cursor: pointer;
		z-index: 999;
		-webkit-touch-callout: none;
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
   		-ms-user-select: none;
   		user-select: none;
	}
	
	body > header nav label::after {
		content: "menu";
		font-size: 16px;
		font-weight: bold;
		margin-left: 10px;
		position: relative;
		top: -5px;
	}

	body > header nav  input:checked ~ .menu-block-wrapper ul,
	body > header nav  input:checked + .menu-block-wrapper ul {
		display: block;
	}

	body > header nav  ul,
	body > header nav  input:not(:checked) ~ .menu-block-wrapper ul,
	body > header nav  input:not(:checked) + .menu-block-wrapper ul {
		display: none;	
	}
	
	.col-view-2 .views-row:nth-child(2n+3),
	.col-view-3 .views-row:nth-child(3n+4),
	.col-view-4 .views-row:nth-child(4n+5),
	.col-view-5 .views-row:nth-child(5n+6) {
		clear: none;	
	}
	
	#block-views-product-product.col-view-3 .views-row:nth-child(2n+4) {
		clear: left !important;	
	}
	
	#block-views-product-product.col-view-3 .views-row:nth-child(3n+5) {
		clear: none;	
	}
	
	section#top .gdw-certified {
		display: none;	
	}

	body > header {
		position: relative;
		height: auto;
	}
	
	header > .nav {
		background: transparent;	
	}
	
	body > header nav {
		/* position: absolute; */
		/* top: 72px; */
		/* width: 600px; */
		clear: both;
		width: 100%;
		margin-bottom: 33px;
	}
	
	body > header nav ul {
		background: #fff;
		margin-top: 0;
	}
	
	body > header nav ul li {
		float: none;
		width: 100%;
		border-right: 0 none;
		margin: 0 0 1px 0;
		line-height: 22px;
		padding: 11px 0;
		text-align: center;
		background: #f3f3f3;
		text-transform: uppercase;
	}
	
	body > header nav ul li:last-child {
		margin-bottom: 0;	
	}
	
	body > header nav ul li.active,
	body > header nav ul li.active-trail {
		background: #f3f3f3;
		border-left: 3px solid #07c;	
		-webkit-box-sizing: border-box; 
 		-moz-box-sizing: border-box;
 		box-sizing: border-box;
	}
	
	body > header nav ul li.active a,
	body > header nav ul li.active a:active,
	body > header nav ul li.active a:hover,
	body > header nav ul li.active-trail a,
	body > header nav ul li.active-trail a:active,
	body > header nav ul li.active-trail a:hover,
	body > header nav ul li a.active,
	body > header nav ul li a:active,
	body > header nav ul li a:hover,
	body > header nav ul li a,
	body > header nav ul li a:visited {
		border-bottom: 0 none;
		padding-bottom: 0;
		padding-top: 0;
	}

	body > header nav ul li a:after {
 		 display: none;
	}
	
	aside.col.s4,
	footer section.col.s4 {
		width: 100%;
	}
	
	section#bottom .container {
		background-position: 20px;	
	}
	
	body.node-type-systempage main > .container,
	main > .container {
		background: none;	
	}
	
	body.front section#content section {
		background-position: center 20px;
		margin-top: 0;
	}
	
	body.front section#content section article {
		margin: 22px auto 0 auto;	
	}
	
	body.front section#promoted .block-promoted-views-webform_pro {
		text-align: center;
		background-image: none;
	}

	body.front section#promoted .block-promoted-views-webform_pro .webform-component--intro {
		width: auto;
		float: none;	
		margin: 0 22px;
		/* background: url("../img/els.png") no-repeat 0 bottom; */
		/* padding: 0 0 20px 100px; */
		/* min-height: 105px; */
	}

	body.front section#promoted .block-promoted-views-webform_pro .webform-component--intro p {
		max-width: none;
		text-align: center;	
	}
	
	body.front section#promoted .block-promoted-views-webform_pro .webform-component--intro p.signature {
		margin-bottom: 0;
		display: none;
	}

	body.front section#promoted .block-promoted-views-webform_pro .webform-component--email {
		width: auto;
		float: left;	
		margin-right: 22px;
		margin-top: 0;
		width: 70%;
	}

	body.front section#promoted .block-promoted-views-webform_pro .form-actions {
		float: left;	
		margin-top: 0;
	}
	
	body.node-type-offer #block-views-product-product .view-footer {
		width: calc(50% - 40px);	
	}

	#block-views-core-text-conv-rel{
		display:none !important;
	}


}

/* --- SOCIAL MEDIA --- */
body > footer .socialmedia-icons {
	display: inline-block;
}

body > footer .socialmedia-icons:after {
	content:' ';
	display: table;
	clear: both;
}

body > footer .socialmedia-icons li {
	float: left;
	margin-right: 10px;
	list-style: none;
	padding: 0;
}

body > footer .socialmedia-icons li:last-child {
	margin-right: 0;	
}

	body > footer .socialmedia-icons li a {
		display: block;
		width: 22px;
		height: 22px;
		text-decoration: none;
	}
	
	body > footer .socialmedia-icons li a:hover {
		text-decoration: none;	
	}
	
	body > footer .socialmedia-icons .icon {
		font-size: 0 !important;
		line-height: 22px !important;
		text-indent: -999em !important;
	}
	
	body > footer .socialmedia-icons .icon.linkedin {
		background: url("../img/icon_linkedin.png") no-repeat;
		background-size: 22px 22px;
		width: 22px;
		height: 22px;
		display: block;
	}
/* --- EXTRA --- */
.element-invisible {
	display: none;	
}

.profile h3 {
	border: 0 none;	
}

article > aside {
}

#conversion .messages.error::before {
	color: #e12;
	margin-bottom: 11px;	
}

form .form-item .error {
	border-color: #e12;	
}

.block-views-mention_nav li::before {
	content: '';
	display: none;
}

a[href$=".pdf"],
a.pdf,
ul icons > a[href$=".pdf"],
ul.icons li > a.pdf {
	background: url("../img/gdw_pdf.png") no-repeat left;
	padding-left: 34px;
	line-height: 24px;
	display: inline-block;
	min-height: 24px;
}

p > a[href$=".pdf"],
p > a.pdf,
ul li > a[href$=".pdf"],
ul li > a.pdf {
	background-size: 16px;
	display: inline;
	line-height: 22px;
	min-height: 16px;
	padding-left: 22px;
}

.user-links {
	margin-top: 22px;	
}

ul.icons {
	padding-left: 0;	
}

ul.icons li {
	line-height: 33px;
}

ul.icons li::before {
	content: '';
	display: none;
}

/* --- EXTRA DISABLED --------------------------------------------------------------------- */

/* --- BREAK - DESKTOP XL --- */
/*@media all and (min-width: 1280px) {
	.col.s1 {width: 8.33333%;}
	.col.s2 {width: 16.66666%;}
	.col.s3 {width: 25%;}
	.col.s4 {width: 33.33333%;}
	.col.s5 {width: 41.66666%;}
	.col.s6 {width: 50%;}
	.col.s7 {width: 58.33333%;}
	.col.s8 {width: 66.66666%;}
	.col.s9 {width: 75%;}
	.col.s10 {width: 83.33333%;}
	.col.s11 {width: 91.66666%;}
	.col.s12 {width: 100%;}
	.container {width:75%;}
}*/


iframe[name="google_conversion_frame"]{
	display: none;
}

/* hide content in dealer section */
body.page-user .tabs-wrapper,
fieldset#edit-locale,
fieldset#edit-timezone,
.form-type-password .description, .form-item-mail .description, body.page-user div.description,
.password-strength, .password-suggestions, .form-item-pass .description, div.password-confirm
{
	display: none !important;
}


