/*div{
	border:solid 1px red;
}*/

/* --- TABS --- */
.tabs-wrapper {
	margin-bottom: 24px;	
}

ul.tabs.primary {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.tabs.primary:after {
	clear: both;
	content: ' ';
	display: table;	
}

ul.tabs.primary li {
	float: left;
	margin-right: 20px;	
}

ul.tabs.primary li:last-child {
	margin-right: 0;	
}